<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <!-- <form action="/admin-create-route" method="post">
        <input type="text" name="fullname" placeholder="Admin Full Name" required>
        <input type="text" name="username" placeholder="Admin User Name" required>
        <input type="text" name="email" placeholder="Admin Email" required> 
        <input type="password" name="password" placeholder="Admin password" required> 
        <input type="submit" placeholder="submit">
    </form> -->

 <div class="admin-main">
    <form class="form" action="/admin-create-route" method="post">
        <p class="title">Admin...! </p>
         
             
            <label>
                <input class="input" type="fullname" name="fullname" placeholder="" required="">
                <span>Fullname</span>
            </label>
    
            <label>
                <input class="input" type="username" name="username" placeholder="" required="">
                <span> Username</span>
            </label>
        
                
        <label>
            <input class="input" type="email" name="email" placeholder="" required="">
            <span>Email</span>
        </label> 
            
        <label>
            <input class="input" type="password" name="password" placeholder="" required="">
            <span>Password</span>
        </label>
        <label>
             
        </label>
        <button class="submit">Submit</button>
         
    </form>
 </div>
</body>
</html>