<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/send-otp" method="post">
        <input name="email" type="text" placeholder="Email">

        <input type="submit" placeholder="submit">
    </form>
    <form action="/verify-otp" method="post">
        <input type="text" placeholder="Enter OTP">

        <input type="submit" placeholder="submit">
    </form>
    
</body>
</html>