<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="mainprofile">
        <h2>welcome <span><%=user.fullname%></span> from profile page</h2>
    </div>
</body>
</html>